<configuration>
    <system.web>
		<compilation debug="true" strict="true" explicit="true" batch="true"
			optimizeCompilations="true" batchTimeout="900"
			maxBatchSize="1000" maxBatchGeneratedFileSize="1000"
			numRecompilesBeforeAppRestart="15" defaultLanguage="c#"
			targetFramework="4.0" assemblyPostProcessorType="">
		    <assemblies>
		    </assemblies>
	    </compilation>
        <httpRuntime requestValidationMode="2.0" requestPathInvalidCharacters=""/>
        <pages validateRequest="false" />  
    </system.web>
</configuration>
